/* <<<<<<< HEAD */
.footer {
    background: gray;
    height: 30vh;
}
.social-icons, .icon {
    display: flex;
    justify-content: center;
}
h1 {
    color: #fff;
}
.icon {
    flex-wrap: wrap;
    padding: 15px;
}
li {
    text-align: center;
}
.fa-phone {
    color: #fff;
}
.fa-google-plus {
    color: #fff;
    margin-left: 15px;
/* ======= */
.bg-header {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
/* link  */
.nav-item:hover{
    background: #0d6efd;
    color: #fff;
}
.nav-item:hover a{
    color: #fff;
}